<div class="col-md-12 pr-12"  >
  <div class="form-group" >
    <div class="demo-container">
      <div id='gridContainer'  >


          <dx-data-grid [dataSource]="employees" keyExpr="ID" [showBorders]="true"
                        [masterDetail]="{ enabled: true, template: 'detail' }">
            <dxo-filter-row [visible]="true">

            </dxo-filter-row>
            <dxo-header-filter [visible]="true" >
            </dxo-header-filter >
            <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."  >

            </dxo-search-panel>
            <dxo-paging [enabled]="false" ></dxo-paging>
            <dxo-editing mode="form" [allowAdding]="true" [allowUpdating]="true"  >
              <dxo-texts saveRowChanges="Guardar" cancelRowChanges="Cancelar" editRow="Editar" >
              </dxo-texts>
            </dxo-editing>
            <dxi-column dataField="Nombre" caption="Nombre"  >
            </dxi-column>
            <dxi-column dataField="Capacidad">
            </dxi-column>
            <dxi-column dataField="Ubicacion">
            </dxi-column>
            <dxi-column dataField="Estado"
                        caption="Estado"
                        [width]="125">
              <dxo-lookup
                [dataSource]="Estado"
                displayExpr="Name"
                valueExpr="ID">
              </dxo-lookup>
            </dxi-column>

            <div *dxTemplate="let employees of 'detail'">
              <dx-data-grid
                [dataSource]="employees.data.sectores" keyExpr="ID"
                [showBorders]="true"
                [columnAutoWidth]="true">
                <dxo-editing mode="form" [allowAdding]="true" [allowUpdating]="true"  >
                  <dxo-texts saveRowChanges="Guardar" cancelRowChanges="Cancelar" editRow="Editar" >
                  </dxo-texts>
                </dxo-editing>
                <dxi-column dataField="Nombre"></dxi-column>
                <dxi-column dataField="Capacidad"></dxi-column>
              </dx-data-grid>
            </div>

          </dx-data-grid>
        </div>
      </div>
    </div>
  </div>
</div>


