<div class="col-md-12 pr-12">
  <div class="form-group">
    <div class="demo-container">
      <div id='gridContainer'>
        <div>
          <div id="data-grid-demo">
            <div class="div-table">
              <div>
                <dx-data-grid
                  [dataSource]="establecimientos"
                  keyExpr="id"
                  [showBorders]="true"
                  [masterDetail]="{ enabled: true, template: 'detail' }"
                  (onRowUpdated)="updateEstablecimiento($event)"
                  (onRowInserted)="addEstablecimiento($event)"
                  (onRowValidating)="validarEstablecimiento($event)"
                  (onEditorPreparing)="onEditorPreparing($event)">

                  <dxo-filter-row [visible]="true">
                  </dxo-filter-row>
                  <dxo-header-filter [visible]="true">
                  </dxo-header-filter>
                  <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar...">
                  </dxo-search-panel>
                  <dxo-paging [enabled]="false"></dxo-paging>
                  <dxo-editing mode="form" [allowAdding]="true" [allowUpdating]="true">
                    <dxo-texts saveRowChanges="Guardar" cancelRowChanges="Cancelar" editRow="Editar">
                    </dxo-texts>
                  </dxo-editing>

                  <dxi-column dataField="id" [visible]="false" [formItem]="{visible: false}">
                  </dxi-column>
                  <dxi-column dataField="nombre" caption="Nombre">
                    <dxi-validation-rule type="required" message="El nombre es requerido"></dxi-validation-rule>
                  </dxi-column>
                  <dxi-column dataField="cantidad" dataType="number" caption="Capacidad">
                    <dxi-validation-rule type="required" message="La capacidad es requerida"></dxi-validation-rule>
                  </dxi-column>
                  <dxi-column dataField="region" caption="Región" [setCellValue]="setRegionValue">
                    <dxi-validation-rule type="required" message="La region es requerida"></dxi-validation-rule>
                    <dxo-lookup
                      [dataSource]="regiones"
                      displayExpr="nombre"
                      valueExpr="id">
                    </dxo-lookup>
                  </dxi-column>
                  <dxi-column dataField="comuna" caption="Comuna">
                    <dxi-validation-rule type="required" message="La comuna es requerida"></dxi-validation-rule>
                    <dxo-lookup
                      [dataSource]="getComunas"
                      displayExpr="nombre"
                      valueExpr="id">
                    </dxo-lookup>
                  </dxi-column>
                  <dxi-column dataField="ubicacion" caption="Ubicación">
                    <dxi-validation-rule type="required" message="La ubicacion es requerida"></dxi-validation-rule>
                  </dxi-column>
                  <dxi-column dataField="estado"
                              caption="Estado"
                              [width]="125">
                    <dxo-lookup
                      [dataSource]="estados"
                      displayExpr="Name"
                      valueExpr="ID">
                    </dxo-lookup>
                  </dxi-column>

                  <div *dxTemplate="let establecimiento of 'detail'">
                    <dx-data-grid
                      [dataSource]="establecimiento.data.sectores" keyExpr="nombre"
                      [showBorders]="true"
                      [columnAutoWidth]="true"
                      (onRowUpdated)="updateSector($event, establecimiento.data.id)"
                      (onRowInserted)="addSector($event, establecimiento.data.id)"
                      (onRowValidating)="validarSector($event)">
                      <dxo-editing mode="form" [allowAdding]="true" [allowUpdating]="true">
                        <dxo-texts saveRowChanges="Guardar" cancelRowChanges="Cancelar" editRow="Editar">
                        </dxo-texts>
                      </dxo-editing>
                      <dxi-column dataField="nombre" caption="Nombre">
                        <dxi-validation-rule type="required" message="El nombre es requerido"></dxi-validation-rule>
                      </dxi-column>
                      <dxi-column dataField="capacidad" dataType="number" caption="Capacidad">
                        <dxi-validation-rule type="required" message="La capacidad es requerida"></dxi-validation-rule>
                      </dxi-column>
                    </dx-data-grid>
                  </div>
                </dx-data-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
