<div class="col-md-8">
  <div class="card card-user">
    <div class="card-header">
      <h5 class="card-title">Empresa 1</h5>
    </div>

    <div class="card-header">
      <h6 class="card-title">Informacion general</h6>
    </div>

    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-md-5 pr-1">
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" class="form-control" disabled="" placeholder="Empresa 1" value="Nombre">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 pr-1">
            <div class="form-group">
              <label>Ocupacion</label>
              <input type="text" class="form-control" disabled="" placeholder="Eventos" value="Eventos">
            </div>
          </div>
        </div>

        <h6 class="card-title">Informacion de contacto</h6>

        <div class="row">
          <div class="col-md-5 pr-1">
            <div class="form-group"><br>
              <label>Correo</label>
              <input type="text" class="form-control" disabled="" placeholder="ejemplo1@gmail.com" value="ejemplo1@gmail.com">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 pr-1">
            <div class="form-group">
              <label>Telefono</label>
              <input type="text" class="form-control" disabled="" placeholder="98412354" value="98412354">
            </div>
          </div>
        </div>

        <h6 class="card-title">Informacion adicional</h6>

        <div class="row">
          <div class="col-md-5 pr-1">
            <div class="form-group"><br>
              <label>Telefono</label>
              <input type="text" class="form-control" disabled="" placeholder="98412354" value="98412354">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Descripcion</label>
              <textarea class="form-control textarea" disabled="">Descripcion......</textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="update ml-auto mr-auto">
            <button type="submit" class="btn btn-warning btn-round">Editar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
