<div class="col-md-12 pr-12">
  <div class="form-group">
    <div class="div-fondo">
    <dx-form id="form"
             [formData]="empresa">
      <dxi-item itemType="group" cssClass="first-group" [colCount]="4">
        <dxi-item>
          <div cssClass="form-avatar">
            <img src="../assets/img/logo-small.png">
          </div><br><br>
          <dxi-item itemType="group">
            <dx-button
              class="button-info"
              text="Modificar logo"
              (onClick)="modificarLogo()">
            </dx-button>
          </dxi-item>
        </dxi-item>
        <dxi-item itemType="group" [colSpan]="3">
          <dxi-item dataField="Nombre" [disabled]="true"></dxi-item>
          <dxi-item dataField="Ocupacion" [disabled]="true"></dxi-item>
          <dxi-item dataField="Correo" [disabled]="true"></dxi-item>
          <dxi-item dataField="Encargado" [disabled]="true"></dxi-item>
        </dxi-item>
      </dxi-item>
      <dxi-item itemType="group" cssClass="second-group" [colCount]="2">
        <dxi-item itemType="group">
          <dxi-item dataField="Direccion" [disabled]="true"></dxi-item>
          <dxi-item dataField="Cuidad" [disabled]="true"></dxi-item>

        </dxi-item>
        <dxi-item itemType="group">
          <dxi-item dataField="Region" [disabled]="true"></dxi-item>
          <dxi-item dataField="Telefono" [label]="{text: 'Telefono'}"
                    [editorOptions]="{ mask: '+56 900000000'}"></dxi-item>
        </dxi-item>
        <dxi-item dataField="Descripcion" [colSpan]="2" editorType="dxTextArea"
                  [editorOptions]="{ height: 140 }"></dxi-item>
      </dxi-item>
      <dxi-item itemType="group">
        <dx-button
          class="button-info"
          text="Enviar mensaje"
          (onClick)="solicitudUpdate()">
        </dx-button>
        <dx-button
          class="button-info"
          text="Guardar">
        </dx-button>
      </dxi-item>
    </dx-form>
    <dx-popup
      class="popup"
      [width]="800"
      [height]="400"
      [showTitle]="true"
      title="Enviar mensaje a administrador"
      [dragEnabled]="false"
      [closeOnOutsideClick]="true"
      [(visible)]="popupVisible">
      <div *dxTemplate="let data of 'content'">
        <div class="form-group">
          <dx-form id="form"
                   [formData]="mensaje">
          <dxi-item itemType="group">
              <dxi-item dataField="asunto"></dxi-item>
              <dxi-item dataField="descripcion" [colSpan]="2" editorType="dxTextArea"
                        [editorOptions]="{ height: 140 }"></dxi-item>
          </dxi-item>
          <dxi-item itemType="group">
            <dx-button
              class="button-info"
              text="Enviar "
              (onClick)="enviar()">
            </dx-button>
          </dxi-item>
          </dx-form>
        </div>

      </div>

    </dx-popup>
      <dx-popup
        class="popup"
        [width]="800"
        [height]="400"
        [showTitle]="true"
        title="Añadir imagen"
        [dragEnabled]="false"
        [closeOnOutsideClick]="true"
        [(visible)]="popupVisible1">
        <div *dxTemplate="let data of 'content'">
          <div class="form-group">
            <dx-form id="form"
                     [formData]="employees">
              <dxi-item itemType="group">
              <div id="fileuploader-container">
                <dx-file-uploader
                  selectButtonText="Seleccionar imagen"
                  labelText=""
                  accept="image/*"
                  uploadMode="useForm">
                </dx-file-uploader>
              </div>
              </dxi-item>
              <dxi-item itemType="group">
                <dx-button
                  class="button-info"
                  text="Guardar "
                  (onClick)="prueba()">
                </dx-button>
              </dxi-item>
            </dx-form>
          </div>

        </div>

      </dx-popup>
  </div>
</div>
