<div class="col-md-14 pr-12">
  <div class="col-md-12 pr-12">
    <div class="form-group">
      <div class="demo-container">
        <div class="div-table">
          <div id="data-grid-demo">
            <dx-data-grid id="tableCuentas" [dataSource]="eventos" keyExpr="NombreEvento" [showBorders]="true">
              <dxo-header-filter [visible]="true">
              </dxo-header-filter>
              <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar...">

              </dxo-search-panel>
              <dxo-editing [allowAdding]="true"></dxo-editing>
              <dxo-paging [enabled]="true"></dxo-paging>
              <dxi-column dataField="NombreEvento" caption="Nombre de evento">
              </dxi-column>
              <dxi-column dataField="FechaPublicacion" caption="Fecha de publicacion" dataType="date" >
              </dxi-column>
              <dxi-column dataField="FechaInicio" caption="Fecha de inicio" dataType="date" >
              </dxi-column>
              <dxi-column dataField="FechaFinalizacion" caption="Fecha de finalizacion" dataType="date">
              </dxi-column>
              <dxi-column dataField="Categoria"
                          caption="Categoria" [width]="125">
              </dxi-column>
              <dxi-column dataField="estado"
                          caption="Estado"
                          [width]="125">
              </dxi-column>
              <dxi-column dataField="Establecimiento" [visible]="false">
              </dxi-column>
              <dxi-column dataField="editar" [formItem]="{visible: false}" caption="Editar" alignment="center" [allowFiltering]="false" [allowSorting]="false" cellTemplate="editar"></dxi-column>
              <div *dxTemplate="let data of 'editar'">
                <a (click)="openAgregar(data)">Editar</a>
              </div>
              <dxi-column dataField="detalle" [formItem]="{visible: false}" caption="Detalle" alignment="center" [allowFiltering]="false" [allowSorting]="false" cellTemplate="detalle"></dxi-column>
              <div *dxTemplate="let data of 'detalle'">
                <a (click)="openDetalle(data)">Detalle</a>
              </div>
            </dx-data-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


