<div class="col-md-14 pr-12">
  <div class="col-md-12 pr-12">
    <div class="form-group">
      <div class="demo-container">
        <div class="div-table">

          <div id="data-grid-demo">
            <dx-data-grid id="tableCuentas" [dataSource]="employees" keyExpr="ID" [showBorders]="true">
              <dxo-header-filter [visible]="true">
              </dxo-header-filter>
              <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar...">

              </dxo-search-panel>
              <dxo-paging [enabled]="true"></dxo-paging>
              <dxo-editing mode="form" [allowAdding]="true" [allowUpdating]="true">
                <dxo-texts saveRowChanges="Guardar" cancelRowChanges="Cancelar" editRow="Editar">
                </dxo-texts>
              </dxo-editing>
              <dxi-column dataField="NombreEvento" caption="Nombre de evento">
              </dxi-column>
              <dxi-column dataField="FechaPublicacion"  caption="Fecha de publicacion" dataType="date" >
              </dxi-column>
              <dxi-column dataField="FechaFinalizacion" caption="Fecha de finalizacion" dataType="date">
              </dxi-column>
              <dxi-column dataField="Categoria"
                          caption="Categoria"
                          [width]="125">
                <dxo-lookup
                  [dataSource]="Categoria"
                  displayExpr="Name"
                  valueExpr="ID">
                </dxo-lookup>
                >
              </dxi-column>
              <dxi-column dataField="estado"
                          caption="Estado"
                          [width]="125">
                <dxo-lookup
                  [dataSource]="Estado"
                  displayExpr="Name"
                  valueExpr="ID">
                </dxo-lookup>
              </dxi-column>
              <dxi-column dataField="Establecimiento" [visible]="false">
              </dxi-column>
              <dxi-column
                dataField="Comentarios"
                [visible]="false">
                <dxo-form-item
                  [colSpan]="2"
                  editorType="dxTextArea"
                  [editorOptions]="{ height: 100 }">
                </dxo-form-item>
              </dxi-column>
            </dx-data-grid>
          </div>
        </div>

        <div class="div-table">
          <mat-horizontal-stepper >

            <mat-step label="Step 1" data-color="red">
              Step 1 content
              <div>
                <button mat-button matStepperNext>Next</button>
              </div>
            </mat-step>

            <mat-step label="Step 2">
              Step 2 content
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </mat-step>

            <mat-step label="Step 3">
              You are now done.
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </mat-step>

          </mat-horizontal-stepper>
        </div>
      </div>
    </div>
  </div>
</div>


