<div class="row">
  <div class="modal-header width-100p">
    <div class="modal-title">Cambiar contraseña de la cuenta {{ rut }} </div>
    <button type="button" class="close" aria-label="Close" (click)="cerrar()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form action="formulario" (submit)="changePassword($event)">
    <dx-form id="form"
             [formData]="cuenta">
      <dxi-item itemType="group" class="formulario-item">
        <dxi-item dataField="password" [editorOptions]="{ mode: 'password' }">
          <dxi-validation-rule
            type="required"
            message="La contraseña es requerida">
          </dxi-validation-rule>
        </dxi-item>
        <dxi-item editorType="dxTextBox" [editorOptions]="{ mode: 'password' }">
          <dxo-label
            text="Confirm Password">
          </dxo-label>
          <dxi-validation-rule
            type="required"
            message="Confirmar contraseña es requerida">
          </dxi-validation-rule>
          <dxi-validation-rule
            type="compare"
            [comparisonTarget]="passwordComparison"
            message="Las contraseñas deben coincidir">
          </dxi-validation-rule>
        </dxi-item>
      </dxi-item>
      <dxi-item
        itemType="button"
        horizontalAlignment="left"
        [buttonOptions]="buttonOptions">
      </dxi-item>
    </dx-form>
  </form>
</div>
