<div class="col-md-14 pr-12">
<div class="col-md-12 pr-12">
  <div class="form-group">
    <div class="demo-container">
      <div class="div-table">

        <div id="data-grid-demo">
          <dx-data-grid id="tableCuentas" [dataSource]="employees" keyExpr="ID" [showBorders]="true">
            <dxo-header-filter [visible]="true">
            </dxo-header-filter>
            <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar...">

            </dxo-search-panel>
            <dxo-paging [enabled]="true"></dxo-paging>
            <dxo-editing mode="form" [allowAdding]="true" [allowUpdating]="true">
              <dxo-texts saveRowChanges="Guardar" cancelRowChanges="Cancelar" editRow="Editar">
              </dxo-texts>
            </dxo-editing>
            <dxi-column dataField="Rut" caption="Rut" [width]="70">
            </dxi-column>
            <dxi-column dataField="Nombre">
            </dxi-column>
            <dxi-column dataField="Apellido">
            </dxi-column>
            <dxi-column dataField="Correo" [width]="170">
            </dxi-column>
            <dxi-column dataField="estado"
                        caption="Estado"
                        [width]="125">
              <dxo-lookup
                [dataSource]="Estado"
                displayExpr="Name"
                valueExpr="ID">
              </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="Perfil"
                        caption="Perfil"
                        [width]="125">
              <dxo-lookup
                [dataSource]="Perfil"
                displayExpr="Name"
                valueExpr="ID">
              </dxo-lookup>
              >
            </dxi-column>
            <dxi-column dataField="Contraseña" [visible]="false" [editorOptions]="{ mode: 'password' }">
            </dxi-column>
            <dxi-item itemType="group">
              <dx-button
                class="button-info"
                text="Cambiar contraseña"
                (onClick)="prueba()">
              </dx-button>
            </dxi-item>
          </dx-data-grid>
          <dx-popup
            class="popup"
            [width]="800"
            [height]="400"
            [showTitle]="true"
            title="Cambiar contraseña"
            [dragEnabled]="false"
            [closeOnOutsideClick]="true"
            [(visible)]="popupVisible">
            <div *dxTemplate="let data of 'content'">
              <div class="form-group">
                <dx-form id="form"
                         [formData]="employees">
                  <dxi-item itemType="group">
                    <dxi-item dataField="Contraseña"></dxi-item>
                    <dxi-item dataField="RContraseña"></dxi-item>
                  </dxi-item>
                  <dxi-item itemType="group">
                    <dx-button
                      class="button-info"
                      text="Guardar "
                      (onClick)="prueba()">
                    </dx-button>
                  </dxi-item>
                </dx-form>
              </div>

            </div>

          </dx-popup>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
