<div class="col-md-14 pr-12">
<div class="col-md-12 pr-12">
  <div class="form-group">
    <div class="demo-container">
      <div class="div-table">

        <div *ngIf="viewTable" id="data-grid-demo">
          <dx-data-grid id="tableCuentas"
                        [dataSource]="trabajadores" [showBorders]="true"
                        (onRowUpdated)="updateTrabajador($event)"
                        (onRowInserted)="addTrabajador($event)"
                        (onRowValidating)="validarTrabajador($event)"
                        (onEditorPreparing)="onEditorPreparing($event)">
            <dxo-header-filter [visible]="true">
            </dxo-header-filter>
            <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar...">

            </dxo-search-panel>
            <dxo-paging [enabled]="true"></dxo-paging>
            <dxo-editing mode="form" [allowAdding]="true" [allowUpdating]="true">
              <dxo-texts saveRowChanges="Guardar" cancelRowChanges="Cancelar" editRow="Editar">
              </dxo-texts>
            </dxo-editing>
            <dxi-column dataField="id" caption="ID" [visible]="false" [formItem]="{visible: false}">
            </dxi-column>
            <dxi-column dataField="rut" caption="Rut">
              <dxi-validation-rule type="required" message="El numero de cuenta es requerido"></dxi-validation-rule>
              <dxi-validation-rule type="stringLength" [min]="10" message="Numero de caracteres: 10 al 13"></dxi-validation-rule>
            </dxi-column>
            <dxi-column dataField="nombres" caption="Nombres">
              <dxi-validation-rule type="required" message="El nombre es requerido"></dxi-validation-rule>
            </dxi-column>
            <dxi-column dataField="apellidos" caption="Apellidos">
              <dxi-validation-rule type="required" message="Los apellidos son requeridos"></dxi-validation-rule>
            </dxi-column>
            <dxi-column dataField="correo" caption="Correo">
              <dxi-validation-rule type="required" message="El correo es requerido"></dxi-validation-rule>
              <dxi-validation-rule type="email" message="El formato del correo no es valido"></dxi-validation-rule>
            </dxi-column>
            <dxi-column dataField="estado" caption="Estado">
              <dxi-validation-rule type="required" message="El estado es requerido"></dxi-validation-rule>
              <dxo-lookup [dataSource]="estados" displayExpr="value" valueExpr="id">
              </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="perfil" caption="Perfil">
              <dxi-validation-rule type="required" message="El perfil es requerido"></dxi-validation-rule>
              <dxo-lookup [dataSource]="perfiles" displayExpr="nombre" valueExpr="id">
              </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="changePassword" [formItem]="{visible: false}" caption="Cambiar Contraseña" alignment="center" [allowFiltering]="false" [allowSorting]="false" cellTemplate="password"></dxi-column>
            <div *dxTemplate="let data of 'password'">
              <img src="../../../../../assets/img/icons/change-password-icon-3.jpg" [width]="20" [height]="20" (click)="openChangePassword(data)" alt="Imagen de cambio de contraseña">
            </div>
          </dx-data-grid>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
