<div class="col-md-12 pr-12">
  <div class="form-group">
    <div class="demo-container">
      <div id="gridContainer">

        <div id="data-grid-demo">
          <dx-data-grid
            id="gridContainer"
            [dataSource]="employees"
            keyExpr="ID"
            [showBorders]="true">
            <dxo-filter-row
              [visible]="showFilterRow"
              [applyFilter]="currentFilter"></dxo-filter-row>
            <dxo-header-filter
              [visible]="showHeaderFilter"></dxo-header-filter>
            <dxo-search-panel
              [visible]="true"
              [width]="240"
              placeholder="Buscar..."></dxo-search-panel>
            <dxo-paging [enabled]="false"></dxo-paging>
            <dxo-editing
              mode="form"
              [allowAdding]="true"
              [allowUpdating]="true">
            <dxo-texts saveRowChanges="Guardar" cancelRowChanges="Cancelar" editRow="Editar"></dxo-texts>
            </dxo-editing>
            <dxi-column dataField="Rut" caption="Rut" [width]="70"></dxi-column>
            <dxi-column dataField="Nombre"></dxi-column>
            <dxi-column dataField="Apellido"></dxi-column>
            <dxi-column dataField="Correo" [width]="170"></dxi-column>
            <dxi-column
              dataField="Estado">
            </dxi-column>
            <dxi-column
              dataField="Perfil">
            </dxi-column>
            <dxi-column
              dataField="Contraseña"
              [visible]="false">
            </dxi-column>
          </dx-data-grid>
        </div>

      </div>
    </div>
  </div>
</div>
